

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" >
                <img src="http://bit.ly/2C59aTr" class="navbar-brand" >
            </a>
            <a class="navbar-brand">
                Weather Forecast
            </a>
            <p class="navbar-text stick-to-right">
                <a class="navbar-link" ng-click="model.checkLogIn()" ng-if="!model.currUser">
                    Log In
                  <span class="	glyphicon glyphicon-log-in" >
                  </span>
                </a>
                <a class="navbar-link" ng-click="model.logout()" ng-if="model.currUser">
                    Log Out
                  <span class="	glyphicon glyphicon-log-out" >
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="form-group row">
    <h2 >Weather Forecast</h2>
    </div>
    <div class="form-group row">
        <label for="searchInput" class="col-2 col-form-label">Location</label>
        <div class="col-10">
            <input ng-model="model.searchInput" class="form-control" type="text"
                   g-places-autocomplete id="searchInput" placeholder="Location ex. Boston ,MA" >
        </div>
    </div>


    <div class="form-group row">
        <label for="searchDate">Time</label>
        <div class="col-10">
            <input date-time class="form-control" ng-model="model.searchDate" id="searchDate">
        </div>
    </div>
    <div class="form-group row">
    <a class="btn btn-primary btn-block"
       ng-click="model.searchWeather(model.searchInput,model.searchDate)">Get Weather Forecast</a>
    </div>
    <div class="form-group row">
        <a class="btn btn-primary btn-block" ng-click="model.showHistory()"
           id="showHistory" ng-model="model.viewHistory">Show History</a>
    </div>

    <div id="history" ng-model="history" ng-hide="model.toggleFlag">
            <div class="row row-padding top-buffer" ng-repeat="addr in model.historyResultAddr track by $index">
                <a ng-click="model.updateFields(model.historyResultPlaceId[$index],model.historyResultTime[$index])">

                    <div class="col-xs-6"> {{addr}}</div>
                    <div class="col-xs-6"> {{model.historyResultTime[$index]}} </div>
                    <div style="display: none;">{{model.historyResultPlaceId[$index]}}</div>

                </a>
            </div>
    </div>
    <a class="stick-to-right" href="https://darksky.net/poweredby/">Powered by Dark Sky</a>
    <div ng-if="model.generateGraphFlag">
        <h2>Current Weather </h2>
        <div class="col-xs-12">{{model.currentTemp}}°F</div>
        <div class="col-xs-12">{{model.summary}}</div>
        <div class="col-xs-12">{{model.currentTime}}</div>
        <skycon icon="model.currentIcon" ></skycon>
        &nbsp;
        <h2>Forecast</h2>
        <div class="row row-padding">
            <div class="top-buffer" ng-repeat="hour in model.hourWeather track by $index">
                <div class="col-xs-2">
                <div class="col-xs-12">{{hour.currentTemp}}°F</div>
                <div class="col-xs-12">{{hour.summary}}</div>
                <div class="col-xs-12">{{hour.currentTime}}</div>
                <skycon icon="hour.icon" ></skycon>
                </div>
            </div>
        </div>
        &nbsp;
        <h2>Past Weather</h2>
        <nvd3 options="model.options" data="model.data" config="{disabled:!model.generateGraphFlag }"> </nvd3>
    </div>
    <!--<canvas id="icon" width="64" height="64"></canvas>-->



</div>


