

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                Weather Forecast
            </a>
            <p class="navbar-text pull-right">
                <a class="navbar-link" href="#/login">
                  <span class="	glyphicon glyphicon-log-in">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Weather Forecast</h1>
    <div id="map"></div>
    <a class="btn btn-primary btn-block">Get Weather Fore Cast</a>

</div>
<script>
    var marker;
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {lat: 42.339831, lng: -71.089182 }
        });

        map.addListener('click', function(e) {
            placeMarkerAndPanTo(e.latLng, map);
        });
    }

    function placeMarkerAndPanTo(latLng, map) {
        if(marker){
            marker.setPosition(latLng);;
        }else{
            marker = new google.maps.Marker({
                position: latLng,
                map: map
            });
        }

        map.panTo(latLng);
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYJPXomWReTVFgUwGZ3IdJTVo9z9lcWMA&callback=initMap">
</script>

