<!DOCTYPE html>
<html lang="en" ng-app="WeatherApp">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

    <script src="js/jquery.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h2>Login</h2>
    <div ng-class="{'has-error':model.userError}">
        <input ng-model="username" type="text"
               class="form-control"
               placeholder="username" name="username"/>
    </div>
    <div ng-class="{'has-error':model.passError}">
        <input ng-model="password" type="password"
               class="form-control"
               placeholder="password"/>
    </div>
    <a ng-click="model.login(username,password)"
       class="btn btn-primary btn-block font-styles">Login</a>
    <a class="btn btn-success btn-block font-styles"
       href="#/register">Register</a>
</div>
</body>
</html>