<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="container">
        <h1>Login</h1>
        <div>
            <input type="text"
                   class="form-control"
                   placeholder="username" name="username"/>
        </div>
        <div >
            <input type="password"
                   class="form-control"
                   placeholder="password"/>
        </div>
        <a class="btn btn-primary btn-block">Login</a>
        <a class="btn btn-success btn-block"
           href="#/register">Register</a>
    </div>
</head>
<body>

</body>
</html>