<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Forecast</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>

</head>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">
                Weather Forecast
            </a>
            <p class="navbar-text pull-right">
                <a class="navbar-link" href="login.html">
                  <span class="	glyphicon glyphicon-log-in">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<body>
<div class="container">
    <h1>Weather Forecast</h1>
    <input type="text"
           class="form-control"
           placeholder="location"/>
    <a class="btn btn-primary btn-block">Get Weather Fore Cast</a>

</div>
</body>
</html>